and_chr 96
and_ff 94
and_qq 10.4
and_uc 12.12
android 96
baidu 7.12
bb 10
chrome 96
chrome 95
chrome 94
edge 96
edge 94
firefox 94
ie 11
ie_mob 11
ios_saf 15
ios_saf 14.5-14.8
kaios 2.5
op_mini all
op_mob 64
opera 81
safari 15.1
samsung 15.0
